{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/drag-scroll.js') }}"></script>
<script src="{{ asset('js/image-modal.js') }}"></script>
<script src="{{ asset('js/admin-profile-actions.js') }}"></script>
{% endblock %}

{% block title %}{{ profile.displayName }} — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile">
        <div class="container">

            {% include "profile/_components/profile-header.html.twig" %}

            {% include "profile/_components/resume-section.html.twig" %}

        </div>
    </section>
</div>

{% endblock %}