{% extends 'base.html.twig' %}

{% block importmap %}
{{ importmap(['app', 'admin-profile-actions']) }}
{% endblock %}

{% block title %}{{ company.companyName }} — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

<div class="main-content">
  {% include "_components/headers/header-logout.html.twig" %}

  <section class="section-profile">
    <div class="container">

      <div class="profile-header">
        <div class="profile-info">

          <img class="company-max-profile-img"
            src="{{ asset(company.profilePicturePath ?: 'images/img_default_company.webp') }}"
            alt="Logo of {{ company.companyName }}">

          <div class="info">
            <div class="flex flex-column">
              <div class="title">
                <h1 class="text-h1">
                  {{ company.companyName }}
                </h1>
              </div>
              {% if company.location %}
              <p class="text-16 text-color-tertiary">
                {{ company.location }}
              </p>
              {% endif %}
            </div>

            <div class="tag-list flex gap-sm">
              {% if company.websiteName and company.websiteLink %}
              <a class="tag-website light text-14" href="{{ company.websiteLink }}" target="_blank">
                {{ company.websiteName }}
              </a>
              {% endif %}

              {% for tag in company.companyTags %}
              <span class="tag-website company text-14">{{ tag.label }}</span>
              {% endfor %}
            </div>
          </div>
        </div>

        {% if company.description %}
        <div class="flex flex-column">
          <h2 class="text-16">
            About
          </h2>
          <p class="text-body-16 text-color-tertiary">
            {{ company.description }}
          </p>
        </div>
        {% endif %}
      </div>

      {% if (app.user and company.user == app.user) or is_granted('ROLE_ADMIN') %}
      <div class="profile-edit-btn">
        <a href="{{ path('app_company_edit', {'id': company.id, 'companyName': company.slug}) }}"
          class="btn btn-secondary-xs">Edit Company</a>

        {% if is_granted('ROLE_ADMIN') and company.user != app.user %}
        <button class="btn btn-danger-xs admin-delete-btn hide" data-company-id="{{ company.id }}">Delete
          Company</button>
        {% endif %}
      </div>
      {% endif %}

    </div>
  </section>
</div>

{% endblock %}