<div class="post-card">
  <div class="profile-container">
    <a href="{{ path('app_profile', {'username': post.user.profile.username}) }}">
      <img class="profile-img" src="{{ asset(post.user.profile.profilePictureUrl) }}"
        alt="Profile picture of {{ post.user.profile.displayName }}">
    </a>

    <div class="flex items-start gap-xxs">
      <a href="{{ path('app_profile', {'username': post.user.profile.username}) }}"
        class="profile-link text-14 text-color-primary">
        {{ post.user.profile.displayName }}
      </a>

      {% if 'ROLE_ADMIN' in post.user.roles %}
      <div class="badge-container">
        {% include "_icons/admin-badge-fill.html.twig" with {'class': 'badge-icon admin'} %}
        <span class="badge-tooltip text-12">Admin</span>
      </div>
      {% endif %}
    </div>
  </div>

  <p class="text-body-14 text-color-secondary">
    {{ post.description }}
  </p>

  {% if post.imagePath %}
  <img class="post-img" src="{{ asset('uploads/posts/' ~ post.imagePath) }}"
    alt="Post image by {{ post.user.profile.displayName }}">
  {% endif %}

  <div class="flex justify-end">
    <form method="get" action="{{ path('app_post_like', {'id': post.id}) }}" style="display: inline;">
      <button type="submit"
        class="post-interactions btn-reset{{ app.user and app.user.profile and post.isLikedBy(app.user.profile) ? ' active' : '' }}">
        <span
          class="like-text text-14{{ app.user and app.user.profile and post.isLikedBy(app.user.profile) ? ' active' : '' }}">{{
          post.likesCount }}</span>
        {% if app.user and app.user.profile and post.isLikedBy(app.user.profile) %}
        {% include "_icons/heart-fill.html.twig" with {'class': 'like-icon'} %}
        {% else %}
        {% include "_icons/heart.html.twig" with {'class': 'like-icon'} %}
        {% endif %}
      </button>
    </form>
  </div>
</div>