{% extends 'base.html.twig' %}

{% block title %}Register — Resume.cv{% endblock %}

{% block main %}
{% include "_components/sidebar.html.twig" %}
<div class="main-content">
  {% include "_components/headers/header-connection.html.twig" %}

  <section class="section-connection">
    <div class="container">
      {% for flash_error in app.flashes('error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
      {% endfor %}

      {% for flash_success in app.flashes('success') %}
      <div class="alert alert-success" role="alert">{{ flash_success }}</div>
      {% endfor %}

      {{ form_start(profileForm) }}

      <div>
        <h1 class="text-h1">Complete your profile</h1>
        <p class="text-16 text-color-tertiary">Add your details to get started</p>
      </div>

      <div class="illustration">
        <img class="register-50" src="{{ asset('images/img-hannah-lee.webp') }}" alt="Creative Illustration">
        <p class="text-16 text-color-tertiary">Hannah Lee</p>
      </div>

      <div class="form-group">
        <label class="text-16 text-color-tertiary" for="{{ profileForm.username.vars.id }}">Username*</label>
        {{ form_widget(profileForm.username) }}
        <div class="text-14 text-color-red">{{ form_errors(profileForm.username) }}</div>
      </div>

      <div class="form-group">
        <div class="flex justify-between items-center">
          <label class="text-16 text-color-tertiary" for="{{ profileForm.displayName.vars.id }}">Display Name*</label>
          <p class="text-14 text-color-tertiary" id="displayName-counter">0 of 48</p>
        </div>
        {{ form_widget(profileForm.displayName) }}
        <div class="text-14 text-color-red">{{ form_errors(profileForm.displayName) }}</div>
      </div>

      <div class="form-group">
        <div class="flex justify-between items-center">
          <label class="text-16 text-color-tertiary" for="{{ profileForm.job.vars.id }}">What do you do?*</label>
          <p class="text-14 text-color-tertiary" id="job-counter">0 of 32</p>
        </div>
        {{ form_widget(profileForm.job) }}
        <div class="text-14 text-color-red">{{ form_errors(profileForm.job) }}</div>
      </div>

      <button type="submit" class="btn btn-primary-xs">
        Complete Profile
      </button>

      {{ form_end(profileForm) }}
    </div>
  </section>
</div>

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/character-counter.js') }}" defer></script>
<script src="{{ asset('js/form-submit.js') }}" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('{{ profileForm.username.vars.id }}').addEventListener('input', function () {
      this.value = this.value.toLowerCase();
    });
  });
</script>
{% endblock %}

{% endblock %}