{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/form-submit.js') }}"></script>
{% endblock %}

{% block title %}Resume.cv{% endblock %}

{% block main %}
{% include "_components/sidebar.html.twig" %}
<div class="main-content">
  {% include "_components/header-connection.html.twig" %}

  <section class="section-connection">
    <div class="container">

      {{ form_start(registrationForm) }}

      <div>
        <h1 class="text-h1">Create your account</h1>
        <p class="text-16 text-color-tertiary">Join Resume.cv and showcase your work.</p>
      </div>

      <div class="illustration">
        <img class="register-0" src="{{ asset('images/img-connection.webp') }}" alt="Creative Illustration">
        <p class="text-16 text-color-tertiary">Hannah Lee</p>
      </div>

      <div class="form-group">
        <label class="text-16 text-color-tertiary" for="{{ registrationForm.email.vars.id }}">Email</label>
        {{ form_widget(registrationForm.email) }}
        <div class="text-14 text-color-red">{{ form_errors(registrationForm.email) }}</div>
      </div>

      <div class="form-group">
        <label class="text-16 text-color-tertiary" for="{{ registrationForm.plainPassword.vars.id }}">Password</label>
        {{ form_widget(registrationForm.plainPassword) }}
        <div class="text-14 text-color-red">{{ form_errors(registrationForm.plainPassword) }}</div>
      </div>

      <div class="form-group check">
        {{ form_widget(registrationForm.agreeTerms) }}
        <label class="text-16 text-color-tertiary" for="{{ registrationForm.agreeTerms.vars.id }}">I agree to the terms
          and conditions</label>
        <div class="text-14 text-color-red">{{ form_errors(registrationForm.agreeTerms) }}</div>
      </div>

      <button type="submit" class="btn btn-primary-rounded">Register</button>
      {{ form_end(registrationForm) }}
    </div>
  </section>
</div>
{% endblock %}