{% extends 'base.html.twig' %}

{% block title %}Profile Cooking — Resume.cv{% endblock %}

{% block importmap %}
{{ importmap(['app', 'character-counter']) }}
{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

{% include "/profile-edit/_components/profile-edit-sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile-edit">
        <div class="container">

            <div>
                <h1 class="text-h1">General</h1>
                <p class="text-16 text-color-tertiary">Update your profile information</p>
            </div>

            <form method="POST" action="{{ path('app_profile_edit', {'username': username}) }}"
                enctype="multipart/form-data" class="form-upload-picture">
                <img class="profile-img" src="{{ asset(profile.profilePictureUrl) }}"
                    alt="Profile picture of {{ profile.displayName }}">

                <div class="form-group">
                    <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/webp"
                        onchange="this.form.submit()" style="display: none;" id="profile-picture-input">

                    <div class="flex gap-lg">
                        <label for="profile-picture-input" class="btn btn-secondary-xs" style="cursor: pointer;">Upload
                            image</label>
                        {% if not profile.hasDefaultProfilePicture %}
                        <a href="{{ path('app_profile_remove_picture', {'username': username}) }}"
                            class="btn btn-secondary-xs danger"
                            onclick="return confirm('Are you sure you want to remove your profile picture?')">Remove
                            image</a>
                        {% endif %}
                    </div>
                </div>
            </form>

            {{ form_start(form) }}

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.displayName.vars.id }}">Display
                        Name*</label>
                    <p class="text-14 text-color-tertiary" id="displayName-counter">0 of 48</p>
                </div>
                {{ form_widget(form.displayName) }}
                <div class="text-14 text-color-red">{{ form_errors(form.displayName) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.job.vars.id }}">What do you
                        do?*</label>
                    <p class="text-14 text-color-tertiary" id="job-counter">0 of 32</p>
                </div>
                {{ form_widget(form.job) }}
                <div class="text-14 text-color-red">{{ form_errors(form.job) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.location.vars.id }}">Location</label>
                    <p class="text-14 text-color-tertiary" id="location-counter">0 of 32</p>
                </div>
                {{ form_widget(form.location) }}
                <div class="text-14 text-color-red">{{ form_errors(form.location) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.pronouns.vars.id }}">Pronouns</label>
                    <p class="text-14 text-color-tertiary" id="pronouns-counter">0 of 12</p>
                </div>
                {{ form_widget(form.pronouns) }}
                <div class="text-14 text-color-red">{{ form_errors(form.pronouns) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.websiteName.vars.id }}">Display Website
                        Name</label>
                    <p class="text-14 text-color-tertiary" id="websiteName-counter">0 of 96</p>
                </div>
                {{ form_widget(form.websiteName) }}
                <div class="text-14 text-color-red">{{ form_errors(form.websiteName) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.websiteLink.vars.id }}">Website</label>
                    <p class="text-14 text-color-tertiary" id="websiteLink-counter">0 of 96</p>
                </div>
                {{ form_widget(form.websiteLink) }}
                <div class="text-14 text-color-red">{{ form_errors(form.websiteLink) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.description.vars.id }}">Bio</label>
                    <p class="text-14 text-color-tertiary" id="description-counter">0 of 160</p>
                </div>
                {{ form_widget(form.description) }}
                <div class="text-14 text-color-red">{{ form_errors(form.description) }}</div>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="btn btn-primary-xs">Done</button>
            </div>

            {{ form_end(form) }}

        </div>
    </section>

    {% include "_components/footer.html.twig" %}
</div>

{% endblock %}