{% extends 'base.html.twig' %}

{% block importmap %}
{{ importmap(['app', 'admin-profile-actions']) }}
{% endblock %}

{% block title %}Admin Cooking — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

{% include "/admin/_components/admin-sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-admin-list">
        <div class="container">

            <div>
                <h1 class="text-h1">Manage Users</h1>
                <p class="text-16 text-color-tertiary">View and manage all registered users</p>
            </div>

            <form method="GET" action="{{ path('admin_users_list') }}" class="search-form flex-row items-end">
                <div class="form-group full-width">
                    <label class="text-16 text-color-tertiary">
                        Search
                    </label>
                    <input type="text" name="search" value="{{ search }}"
                        placeholder="John Doe, johndoe, john@gmail.com, designer..." autocomplete="off">
                </div>

                <div class="form-group">
                    <label class="text-16 text-color-tertiary">
                        Created At
                    </label>
                    <input type="date" name="created_at" value="{{ created_at }}">
                </div>

                <div class="form-group">
                    <label class="text-16 text-color-tertiary">
                        Updated At
                    </label>
                    <input type="date" name="updated_at" value="{{ updated_at }}">
                </div>

                <div class="flex gap-xl">
                    <button type="submit" class="btn btn-primary-xs">Search</button>
                    <a href="{{ path('admin_users_list') }}" class="btn btn-secondary-xs">Clear</a>
                </div>
            </form>

            <div class="admin-list-grid">
                {% if users is not empty %}
                {% for user in users %}
                {% include "/admin/_components/admin-user-card.html.twig" with {'user': user} %}
                {% endfor %}
                {% else %}
                <p class="text-16 text-color-secondary">No users found.</p>
                {% endif %}
            </div>

            {% include "_components/pagination.html.twig" %}

        </div>
    </section>
</div>

{% endblock %}