<div class="user-card following">
  <div class="profile-container">
    <a href="{{ path('app_profile', {'username': profile.username}) }}">
      <img class="profile-img" src="{{ asset(profile.profilePictureUrl) }}"
        alt="Profile picture of {{ profile.displayName }}">
    </a>

    <div class="flex flex-column">
      <div class="flex items-start gap-xxs">
        <a href="{{ path('app_profile', {'username': profile.username}) }}"
          class="profile-link text-14 text-color-primary">
          {{ profile.displayName }}
        </a>

        {% if profile.user and 'ROLE_ADMIN' in profile.user.roles %}
        <div class="badge-container">
          {% include "_icons/admin-badge-fill.html.twig" with {'class': 'badge-icon admin'} %}
          <span class="badge-tooltip text-12">Admin</span>
        </div>
        {% endif %}
      </div>
      <p class="text-14 text-color-secondary">{{ profile.job }}{% if profile.location %} in {{ profile.location }}{%
        endif %}</p>
    </div>
  </div>
  {% if app.user and app.user.profile and app.user.profile != profile %}
  <form method="get" action="{{ path('app_profile_follow', {'username': profile.username}) }}" style="display: inline;">
    <button type="submit"
      class="tag-follow btn-reset text-14{{ app.user.profile.isFollowing(profile) ? ' unfollow' : '' }}">
      {% if app.user.profile.isFollowing(profile) %}
      <span class="follow-text-default">Following</span>
      <span class="follow-text-hover">Unfollow</span>
      {% else %}
      Follow
      {% endif %}
    </button>
  </form>
  {% endif %}
</div>