<div class="edit-sidebar" id="edit-sidebar">

  <div class="flex flex-column">

    <a href="{{ path('admin_users_list') }}"
      class="btn-menu {{ app.request.get('_route') == 'admin_users_list' ? 'active' : '' }}">
      Manage Users
    </a>

    <a href="{{ path('admin_posts_list') }}"
      class="btn-menu {{ app.request.get('_route') == 'admin_posts_list' ? 'active' : '' }}">
      Manage Posts
    </a>

    <a href="{{ path('admin_companies_list') }}"
      class="btn-menu {{ app.request.get('_route') == 'admin_companies_list' ? 'active' : '' }}">
      Manage Companies
    </a>

  </div>

</div>