<div class="profile-edit-sidebar">

  <div class="flex flex-column">

    <a href="{{ path('app_profile_edit', {'username': app.user.profile.username}) }}"
      class="btn-menu {{ app.request.get('_route') == 'app_profile_edit' ? 'active' : '' }}">General</a>

    <a href="{{ path('app_account_edit', {'username': app.user.profile.username}) }}"
      class="btn-menu {{ app.request.get('_route') == 'app_account_edit' ? 'active' : '' }}">Account</a>

    <div class="order-menu">

      <a href="{{ path('app_experience_list', {'username': app.user.profile.username}) }}"
        class="btn-menu {{ app.request.get('_route') in ['app_experience_list', 'app_experience_edit'] ? 'active' : '' }}">
        Work Experience
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Projects
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="{{ path('app_education_list', {'username': app.user.profile.username}) }}"
        class="btn-menu {{ app.request.get('_route') in ['app_education_list', 'app_education_edit'] ? 'active' : '' }}">
        Education
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Certifications
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

      <a href="" class="btn-menu">
        Volunteering
        {% include "_icons/order-drag.html.twig" with {
        'class': 'menu-icon'
        } %}
      </a>

    </div>

  </div>

</div>