<div class="profile-header">
  <div class="profile-info">
    <img class="profile-img" src="{{ asset('images/img_default_user.webp') }}" alt="Profile Image">
    <div class="info">
      <div class="flex flex-column">
        <div class="title">
          <h1 class="text-h1">
            Anonymous
          </h1>
          <p class="text-14 text-color-tertiary">
            He/Him
          </p>
        </div>
        <p class="text-16 text-color-tertiary">
          UI/UX Designer | New York City
        </p>
      </div>
      <a class="tag-website text-14 text-color-secondary" href="" target="_blank">
        figr.design
      </a>
    </div>
  </div>

  <div class="flex flex-column">
    <h2 class="text-16">
      About
    </h2>
    <p class="text-body-16 text-color-tertiary">
      Passionate UI/UX designer with over 5 years of experience creating intuitive and dynamic user
      interfaces for a range of digital platforms. Committed to improving user experience through
      innovative design solutions.
    </p>
  </div>

  <div class="resume-actions">
    <a class="btn-action {{ app.request.get('_route') == 'app_profile' ? 'active' : '' }} text-16"
      href="{{ path('app_profile', {'username': username}) }}">
      Resume
    </a>
    <a class="btn-action {{ app.request.get('_route') == 'app_profile_posts' ? 'active' : '' }} text-16"
      href="{{ path('app_profile_posts', {'username': username}) }}">
      Posts
    </a>
  </div>
</div>