<div class="sidebar">
  <ul>
    <li>
      <a class="nav-button" href="{{ path('app_index') }}">
        {% if app.request.pathInfo starts with '/explore' %}
        {% include "_icons/explore-fill.html.twig" with {
        'class': 'nav-icon active'
        } %}
        {% else %}
        {% include "_icons/explore.html.twig" with {
        'class': 'nav-icon'
        } %}
        {% endif %}
        <span class="nav-tooltip text-12">Explore</span>
      </a>
    </li>

    <li>
      <a class="nav-button" href="{{ path('app_profile_redirect') }}">
        {% set isOnOwnProfile = app.user and app.user.profile and
        (app.request.pathInfo == '/profile' or
        (app.request.pathInfo starts with '/profile/' and app.request.get('username') == app.user.profile.username)) %}

        {% if isOnOwnProfile %}
        {% include "_icons/profile-fill.html.twig" with {
        'class': 'nav-icon active'
        } %}
        {% else %}
        {% include "_icons/profile.html.twig" with {
        'class': 'nav-icon'
        } %}
        {% endif %}
        <span class="nav-tooltip text-12">Profile</span>
      </a>
    </li>

    {# <li>
      <a class="nav-button" href="{{ path('app_login') }}">
        {% if app.request.pathInfo starts with '/company' %}
        {% include "_icons/suitcase-fill.html.twig" with {
        'class': 'nav-icon active'
        } %}
        {% else %}
        {% include "_icons/suitcase.html.twig" with {
        'class': 'nav-icon'
        } %}
        {% endif %}
        <span class="nav-tooltip text-12">Company</span>
      </a>
    </li> #}

    {# <li>
      <a class="nav-button" href="{{ path('app_login') }}">
        {% if app.request.pathInfo starts with '/following' %}
        {% include "_icons/following-fill.html.twig" with {
        'class': 'nav-icon active'
        } %}
        {% else %}
        {% include "_icons/following.html.twig" with {
        'class': 'nav-icon'
        } %}
        {% endif %}
        <span class="nav-tooltip text-12">Following</span>
      </a>
    </li> #}

    {# <li>
      <a class="nav-button" href="{{ path('app_login') }}">
        {% if app.request.pathInfo starts with '/search' %}
        {% include "_icons/search-fill.html.twig" with {
        'class': 'nav-icon active'
        } %}
        {% else %}
        {% include "_icons/search.html.twig" with {
        'class': 'nav-icon'
        } %}
        {% endif %}
        <span class="nav-tooltip text-12">Search</span>
      </a>
    </li> #}

    {% if app.user and is_granted('ROLE_ADMIN') %}
    <li>
      <a class="nav-button" href="{{ path('app_index') }}">
        {% include "_icons/admin-badge.html.twig" with {
        'class': 'nav-icon' ~ (app.request.pathInfo starts with '/admin' ? ' active' : '')
        } %}
        <span class="nav-tooltip text-12">Admin</span>
      </a>
    </li>
    {% endif %}
  </ul>

</div>