<div class="resume-card">
  <div>
    <p class="text-16 text-color-tertiary">
      {{ startDate|date('Y') }} — {{ endDate ? endDate|date('Y') : (item.authority is defined ? 'Never expires' : 'Now')
      }}
    </p>
  </div>
  <div class="info">
    <div class="flex flex-column">
      <h3 class="text-16 text-color-primary">
        {{ title }}
      </h3>
      <a class="title text-color-primary {{ link ? 'link-active' : '' }}" href="{{ link ?: '#' }}"
        target="{{ link ? '_blank' : '_self' }}">
        <h4 class="text-16">
          {{ organization }}
        </h4>
        {% if link %}
        {% include "_icons/link.html.twig" with {
        'class': 'icon-link'
        } %}
        {% endif %}
      </a>
      {% if location %}
      <p class="text-16 text-color-tertiary">
        {{ location }}
      </p>
      {% endif %}
    </div>

    {% if description %}
    <p class="text-body-16 text-color-tertiary">
      {{ description }}
    </p>
    {% endif %}