<div class="profile-header">
  <div class="profile-info">
    <img class="profile-img" src="{{ asset(profile.profilePictureUrl) }}"
      alt="Profile picture of {{ profile.displayName }}">
    <div class="info">
      <div class="flex flex-column">
        <div class="title">
          <h1 class="text-h1">
            {{ profile.displayName }}
          </h1>
          {% if profile.pronouns %}
          <p class="text-14 text-color-tertiary">
            {{ profile.pronouns }}
          </p>
          {% endif %}
        </div>
        <p class="text-16 text-color-tertiary">
          {{ profile.job }}{% if profile.location %} in {{ profile.location }}{% endif %}
        </p>
      </div>
      <div class="flex gap-sm">
        {# <a href="" class="tag-follow text-14 ">Follow</a> #}
        {% if profile.websiteName and profile.websiteLink %}
        <a class="tag-website text-14 text-color-secondary" href="{{ profile.websiteLink }}" target="_blank">
          {{ profile.websiteName }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if profile.description %}
  <div class="flex flex-column">
    <h2 class="text-16">
      About
    </h2>
    <p class="text-body-16 text-color-tertiary">
      {{ profile.description }}
    </p>
  </div>
  {% endif %}

  <div class="resume-actions">
    <a class="btn-action {{ app.request.get('_route') == 'app_profile' ? 'active' : '' }} text-16"
      href="{{ path('app_profile', {'username': username}) }}">
      Resume
    </a>
    <a class="btn-action {{ app.request.get('_route') == 'app_profile_posts' ? 'active' : '' }} text-16"
      href="{{ path('app_profile_posts', {'username': username}) }}">
      Posts
    </a>
  </div>
</div>

{% if app.user.profile.username == username or is_granted('ROLE_ADMIN') %}
<div class="profile-edit-btn">
  <a class="btn btn-primary-xs" href="{{ path('app_post_new', {'username': username}) }}">Post</a>
  <a href="{{ path('app_profile_edit', {'username': username}) }}" class="btn btn-secondary-xs">Edit Profile</a>
</div>
{% endif %}