<a class="company-card" href="">
  <div class="flex items-center gap-lg">

    {% if company.profilePicturePath %}
    <img class="company-profile-img" src="{{ asset(company.profilePicturePath) }}"
      alt="{{ company.companyName }} Profile Image">
    {% else %}
    <img class="company-profile-img" src="{{ asset('images/img_default_company.webp') }}"
      alt="{{ company.companyName }} Profile Image">
    {% endif %}

    <div class="flex flex-column">

      <p class="text-16 text-color-primary">
        {{ company.companyName }}
      </p>

      <p class="text-16 text-color-secondary">
        {{ company.location }}
      </p>

    </div>

  </div>
</a>