{% extends 'base.html.twig' %}

{% block importmap %}
{{ importmap(['app', 'character-counter']) }}
{% endblock %}

{% block title %}Profile Cooking — Resume.cv{% endblock %}

{% block main %}

{% include "_components/sidebar.html.twig" %}

{% include "/profile-edit/_components/edit-sidebar.html.twig" %}

<div class="main-content">
    {% include "_components/headers/header-logout.html.twig" %}

    <section class="section-profile-edit">
        <div class="container">

            <div>
                <h1 class="text-h1">{{ experience ? 'Edit Experience' : 'Create Experience' }}</h1>
                <p class="text-16 text-color-tertiary">{{ experience ? 'Update your professional experience' : 'Add your
                    professional experience' }}</p>
            </div>

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}

            {{ form_start(form) }}

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.companyName.vars.id }}">{{
                        form.companyName.vars.label }}*</label>
                    <p class="text-14 text-color-tertiary" id="companyName-counter"></p>
                </div>
                {{ form_widget(form.companyName) }}
                <div class="text-14 text-color-red">{{ form_errors(form.companyName) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.companyLink.vars.id }}">{{
                        form.companyLink.vars.label }}</label>
                    <p class="text-14 text-color-tertiary" id="companyLink-counter"></p>
                </div>
                {{ form_widget(form.companyLink) }}
                <div class="text-14 text-color-red">{{ form_errors(form.companyLink) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.job.vars.id }}">{{ form.job.vars.label
                        }}*</label>
                    <p class="text-14 text-color-tertiary" id="job-counter"></p>
                </div>
                {{ form_widget(form.job) }}
                <div class="text-14 text-color-red">{{ form_errors(form.job) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.location.vars.id }}">{{
                        form.location.vars.label
                        }}*</label>
                    <p class="text-14 text-color-tertiary" id="location-counter"></p>
                </div>
                {{ form_widget(form.location) }}
                <div class="text-14 text-color-red">{{ form_errors(form.location) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.description.vars.id }}">{{
                        form.description.vars.label }}</label>
                    <p class="text-14 text-color-tertiary" id="description-counter"></p>
                </div>
                {{ form_widget(form.description) }}
                <div class="text-14 text-color-red">{{ form_errors(form.description) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center"></div>
                <label class="text-16 text-color-tertiary" for="{{ form.startDate.vars.id }}">{{
                    form.startDate.vars.label }}*</label>
                {{ form_widget(form.startDate) }}
                <div class="text-14 text-color-red">{{ form_errors(form.startDate) }}</div>
            </div>

            <div class="form-group">
                <div class="flex justify-between items-center">
                    <label class="text-16 text-color-tertiary" for="{{ form.endDate.vars.id }}">{{
                        form.endDate.vars.label
                        }}</label>
                </div>
                {{ form_widget(form.endDate) }}
                <div class="text-14 text-color-red">{{ form_errors(form.endDate) }}</div>
            </div>

            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary-xs full'}}) }}

            {{ form_end(form) }}

            {% if experience %}
            <form action="{{ path('app_experience_delete', {'username': username, 'id': experience.id}) }}"
                method="post" style="display: inline;"
                onsubmit="return confirm('Are you sure you want to delete this experience?')">
                <div class="flex justify-end">
                    <button type="submit" class="btn btn-secondary-xs danger full">Delete</button>
                </div>
            </form>
            {% endif %}

        </div>
    </section>
</div>

{% endblock %}